/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2016, 10:22:24 AM
    Author     : vahan
*/

.dataTables_filter {
    float: right;
    text-align: right;
    width: 100%;
}

.radio label,
.checkbox label {
    font-weight: bold;
}

.noMargin {
    margin: 0px;
}

.noPadding {
    padding: 0px;
}

.coordInput {
    width: 65px;
    padding-right: 0px;
}
.coordInput input {
    padding-left: 2px;
    padding-right: 2px;
}