.search {
  padding: 15px 34px 15px 15px;
}
#accordion .panel:first-child {
  display: none;
}
#accordion .panel:hover {
  background: white;
}
.for_integration {
  text-align: left;
  line-height: 12px;
  font-size: 11px;
  padding: 4px 10px;
}
.hostcheck {
  overflow: hidden;
}
.hostcheck .panel_toolbox {
  min-width: 0px;
}
.integration {
  height: 110px;
  cursor: pointer;
}
.integration:hover {
  transform: scale(1.05);
}
.integration:hover img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.integration .check-wraper {
  margin-top: 4px;
}
.integration p {
  width: calc(100% - 80px);
  margin-left: 75px;
  overflow: hidden;
  text-align: justify;
}
.integration h3 {
  white-space: nowrap;
}
.integration img {
  width: 64px;
  height: 64px;
}
.integration .icon {
  width: 55px;
  top: 30px;
  right: auto;
  left: 5px;
}
.fixed {
  position: fixed;
  right: 0px;
}
.totalPrice .totalusd {
  margin-left: 5px;
}
.integration_select {
  height: 110px;
}
.integration_select .panel_toolbox {
  z-index: 50;
}
.integration_select .check-wraper {
  margin-top: 4px;
  text-align: left;
  white-space: nowrap;
}
.integration_select .multiinput {
  padding-right: 0px;
}
.integration_select .multiinput input {
  padding: 3px;
}
.integration_select p,
.integration_select form {
  width: calc(100% - 80px);
  margin-left: 75px;
  overflow: hidden;
  text-align: justify;
}
.integration_select h3 {
  white-space: nowrap;
  width: calc(100% - 30px);
}
.integration_select img {
  width: 64px;
  height: 64px;
}
.integration_select .icon {
  width: 55px;
  top: 30px;
  right: auto;
  left: 5px;
}
.calc_buttondiv {
  padding: 21px;
}
.calc_button {
  border: 2px solid #00adee;
  font-size: 12px;
  padding: 2px 10px 2px 10px;
  margin: 2px;
  color: #00adee;
  background-color: #FFF;
  float: right;
}
.calc_button:hover {
  color: #FFF;
  background-color: #00adee;
}
.checked {
  border-color: #8bc53f;
  border-width: 2px;
  background-color: #F0F0F0;
}
.calc {
  background-color: #fff;
  border: 1px solid #E6E9ED;
  padding: 10px;
  display: inline-block;
  width: 100%;
}
.calc h1 {
  font-size: 26px;
  margin: 5px 0;
}
.delete {
  float: right;
  padding: 5px;
  cursor: pointer;
}
.delete i {
  font-size: 20px;
}
@media (min-width: 990px) {
  #fullprice {
    overflow: auto;
    float: right;
  }
}
@media (min-width: 1200px) and (max-width: 1550px) {
  .integration,
  .integration_select {
    /*        h3 {
            font-size: 19px
        }  */
  }
  .integration p,
  .integration_select p,
  .integration form,
  .integration_select form {
    width: unset;
    margin-left: 46px;
    margin-top: unset;
    margin-bottom: unset;
    padding: 4px;
    line-height: 14px;
    overflow: unset;
  }
  .integration img,
  .integration_select img {
    width: 40px;
    height: 40px;
  }
  .integration .icon,
  .integration_select .icon {
    width: 40px;
    top: 32px;
  }
  .integration form input,
  .integration_select form input {
    height: 24px;
    font-size: 12px;
  }
  .integration .multiinputDiv,
  .integration_select .multiinputDiv {
    padding: 8px 0 0 0;
  }
  #fullprice {
    padding: 0;
  }
  #fullprice .table > thead > tr > th {
    padding: 4px;
  }
}
@media (max-width: 1200px) {
  .integration_select p,
  .integration_select form {
    line-height: 14px;
  }
  .check {
    padding: 10px;
  }
}
@media (max-width: 425px) {
  .integration,
  .integration_select {
    height: unset;
  }
  .integration p,
  .integration_select p,
  .integration form,
  .integration_select form {
    width: unset;
    margin-left: unset;
    padding: 5px 10px 5px 10px;
  }
  .integration h3,
  .integration_select h3 {
    white-space: nowrap;
    /*            text-align: center;
            font-size: 17px;*/
  }
  .integration img,
  .integration_select img {
    width: 50px;
    height: 50px;
  }
  .integration .icon,
  .integration_select .icon {
    display: none;
  }
}
/*# sourceMappingURL=calculator.css.map */