/* -- changes for dark_theme -- */
@body_font-size: 14px;
// ---- colors ----
@clr_body_bg: #0f0f0f;
@clr_body: #fff;
@clr_header: #1e211e;
@clr_black2: #141616;
@clr_OEgreen: #8bc53f;
@clr_OEgreen2: #92ad57;
@clr_OEblue: #00adee;
@clr_OEblue2: #2e92b0;
@clr_greyGreen1: #72786a;
@clr_greyGreen2: #545b4b;
@clr_darkRed: #a52f2c;
@clr_darkOrange: #e78803;
@clr_infoText: #ffdea2;
@clr_bannerBlue: #091f27;

.gray_border-top(@width: 1px, @type: solid, @color: #333434){
    border-top:@arguments;
}

.btn_border(@width:1px, @type:solid, @color:lighten(@bg,20%)){
    border:@arguments;
}  
.btn_OE(@color: @clr_body_bg, @bg: @clr_body){    
    color: @color;
    background-color: @bg;
    .btn_border();    
    &:hover, &:focus, &:active, &:active:hover, &:active:focus {
        color: darken(@bg,8%);
        background-color: rgba(0, 0, 0, 0);
        .btn_border(@color:darken(@bg,5%));
    }
}

// ---- // ----//
body {
    color: @clr_body;
    background: @clr_body_bg;
    font-size: @body_font-size;
    .container.body .right_col, footer{
        background: @clr_black2;
    }
}
//---- scrollbar ----
::-webkit-scrollbar-track {
    background-color: #000000
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: @clr_OEgreen2;
}
::-webkit-scrollbar-thumb:hover {
    background-color: @clr_OEblue2;
}
::-webkit-resizer {
    width: 8px;
    height: 0px
}
::-webkit-scrollbar {
    width: 8px;
}
// ---- remove arrows in input ----
input[type=number] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
// ---- button ----

.btn-success {
/*  background: @clr_OEgreen2;
    border: 1px solid #455615;
    &:hover {
        background: @clr_OEblue;
        border-color: #85e3ff;
        box-shadow: 0 0 4px rgb(227, 248, 255);
    }*/
    .btn_OE(@bg:@clr_OEgreen2);
}
/*.btn-primary:extend(.btn-success) {
    color: @clr_body_bg;
    &:hover, &:focus, &:active, &:active:hover, &:active:focus {
        color: @clr_body;
        background-color: @clr_OEblue2;
        border-color: #204d74;
    }*/
.btn-primary {
    .btn_OE(@bg:@clr_OEblue2);        
        &:hover, &:focus, &:active, &:active:hover, &:active:focus {
            .btn_OE(@bg: lighten(saturate(@clr_OEblue2,15%),10%));
        }           
    }
a.btn-primary {
    color: @clr_body_bg;
}
.btn-default {
/*    color: @clr_black2;
    background-color: @clr_greyGreen1;
    border-color: #333434;
    &:hover {
        color: @clr_body;
        background-color: @clr_greyGreen2;
        border-color: @clr_greyGreen1;
    }*/
    .btn_OE(@bg: @clr_greyGreen2);    
    &:hover, &:focus, &:active, &:active:hover, &:active:focus {
        .btn_OE(@bg: darken(@clr_greyGreen2,10%));
    }
}
.btn-danger {
/*    color: #facd82;
    background-color: #a52f2c;
    border-color: #d43f3a;
    &:hover {
        color: @clr_body;
        background-color: #8a1e1b;
        border-color: @clr_bannerBlue;
    }*/
    .btn_OE(@bg: @clr_darkRed);
}
a.btn-danger {
   color: @clr_body_bg;
}
.btn-info {
 /*color: @clr_body;
    background-color: @clr_OEblue2;
    border-color: #204d74;
    &:hover {
        background-color: @clr_OEgreen2;
        border-color: #455615;
    }*/
    .btn_OE(@bg: @clr_OEblue);
}
/*.btn-warning:extend(.dash_header .btn-group button.btn-warning) {
    color: #0f0f0f;
    background-color: #ec971f;
    border-color: #ffcb81;
    &:hover:extend(.dash_header .btn-group button.btn-warning:hover) {
        color: #fff;
        background-color: #e78803;
        border-color: #b74800;
    }
}*/
.btn-warning {
    .btn_OE(@bg: @clr_darkOrange);
    }

.dash_header {
    .btn-group {
        button.btn-warning {
           &:active:focus {
            color: #ec971f;
            background-color: #141616;
            border-color: #333434;  
           }
        }
        a.btn-default {
            &:hover, &:focus, &:active, &:active:hover, &:active:focus {
                .btn_OE(@bg:@clr_greyGreen1);
            }
        }
    }
    .open{
        >.dropdown-toggle.btn-warning:focus:extend(.dash_header .btn-group button.btn-warning:active:focus){}
    }    
}
.widgetraw{
    .raw-controls {
        .btn-group-xs {
            >a.btn-default {
                &:hover, &:focus, &:active, &:active:hover, &:active:focus {
                    .btn_OE(@bg: @clr_greyGreen1);
                }
            }
        }
    } 
}
#savelock.btn-success{
    &:focus{
       background: @clr_OEgreen2;
       color: @clr_body_bg;
       border: 1px solid lighten(@clr_OEgreen2,20%);
    }
}
// ---- paginate ----
.pagination {
        >li {
            >a {
                color: @clr_OEgreen2;
                background: @clr_greyGreen2 !important;
                border-color: #333434 !important;
                &:hover {
                    color: @clr_OEblue2;
                }
            }
        }
        >.disabled {
            >a {
                color: @clr_black2;
            }
        }
    }
.paging_full_numbers {
    width: 420px;
}
// ---- iCheck ----
.checked {
    background-color: transparent;
}
.metricinfo td .icheckbox_flat-blue {
    margin-right: 3px;
    vertical-align: inherit;
}
// ---- Switchery ----
.switchery-small {
    width: 42px;
    height: 16px;
    border-radius: 4px; 
}
.switchery-small > small { 
    height: 16px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);   
}
// ---- dash ----
.x_panel.locked {
    border: none;
    background: none;
    box-shadow: none;
}
.fulldash {
    padding: 0;
}
.x_panel.locked .chartsection>div {
    border: none;
}
// ---- // ---- //
.x_title {
    border-bottom: 2px solid @clr_bannerBlue;   
}

a {
    color: @clr_OEgreen;
}
a:hover, .query-label a:hover, .data-label a:hover {
    color: @clr_OEblue;
}

.balace_part{
    .tile_count {
        .tile_stats_count:before {
            border-left: 2px solid #091f27;   
        }
        .od{
            input {
                color: #ffdea2;
                background-color: #091f27;
                border: 1px solid #545b4b;                
                padding-left: 4px;
            }
        } 
    }
}  
// ---- // ---- //
.nav_title {
    background: @clr_body_bg;
}
.top_nav {
    .nav_menu {
      /*background: @clr_body_bg;
        border-bottom: 1px solid #656768;
        box-shadow: 0 1px 10px #67922f;*/
        background: @clr_header;
        border-bottom: 1px solid @clr_bannerBlue;
        .navbar-nav.navbar-right {
            li>a {
                color: @clr_body !important;
                &:focus,&:hover{
                    background: linear-gradient(to top, rgba(255,255,255,0) 5px, #0f0f0f 1px),
                                linear-gradient(90deg, #0f0f0f, #8bc53f, #0f0f0f);
                }
                .fa.fas.fa-angle-down{
                    color: @clr_OEblue;
                }
            }        
            .open {
                a{
                    background: @clr_body_bg;
                    &:focus, &:hover{
                        background: @clr_body_bg; 
                    }
                }
                .dropdown-menu {
                    background: @clr_body_bg;
                    box-shadow: inset -1px -2px 4px rgba(167, 167, 167, 0.8);
                    border: 1px solid rgba(74, 91, 90, 0.5);
                    border-radius: 4px;
                    li>a {
                        color: @clr_body;        
                        &:hover,&:focus {
                            text-decoration: none;
                            color: @clr_body;
                            background: linear-gradient(90deg, @clr_body_bg 25%, rgba(8,112,150,0.3));
                            text-shadow: 0 0 1px @clr_OEgreen;
                        }
                    }
                    .user-profile {
                        color: @clr_body !important;
                    }
                }
            }

        } 
    }
}
//---- left-col ----
.nav-md {    
    .nav.side-menu{
        &:hover >li{
            box-shadow: inset 3px 2px 4px 0 rgba(0, 0, 0, 0.6);
        }
        >li{
            border: 1px solid lighten(@clr_header, 10%);
            border-radius: 4px;
            margin: 6px;
            background: @clr_header;
            &:hover {
                box-shadow: -3px 3px 2px 0 rgba(0, 0, 0, 0.8);
            }
        }
    }
}
.left_col {
    background: @clr_body_bg;
    div#sidebar-menu.main_menu_side {
/*        border-top: 1px solid rgb(101, 103, 104);*/
       // background: @clr_body_bg;
          background: @clr_header;
          border-radius: 4px;
          background-image: linear-gradient(#0f0f0f, #1e211e 10%, #1e211e 80%, #0f0f0f);
/*        box-shadow: inset 1px 5px 10px -4px #67922f;*/
    }
    .main_menu {
        i.fa.fas, i.fa.far, i.fa-edit{
            color: @clr_body;
        }
        span.fa.fas.fa-chevron-down, fa-angle-down {
            float: right;
            text-align: center;
            margin-top: 5px;
            font-size: 12px;
            min-width: inherit;
            color: @clr_OEblue;
        }
        .nav.side-menu{
/*            &:hover >li{
                box-shadow: inset 3px 2px 4px 0 rgba(0, 0, 0, 0.6);
            }*/
            >li{
/*              border: 1px solid lighten(@clr_header, 10%);
                border-radius: 4px;
                margin: 6px;
                background: @clr_header;
                &:hover {
                    box-shadow: -3px 3px 2px 0 rgba(0, 0, 0, 0.8);
                }*/
                &.active {
                  //  border-right: none;
                    >a {
                      //  background: @clr_body_bg;
                        background: darken(@clr_header, 2%);
                        box-shadow: none;
                        font-weight: bold;
                    }         
                }
                >a {
                    color: #aec352;
                    font-weight: 500;
                    &:hover {
                    //    background: @clr_body_bg;
                    //    box-shadow: inset rgba(0,173,238,0.8) 0px -4px 8px -4px;
                        color: @clr_OEgreen2 !important;
                        font-weight: bold;
                    }
                }
            }
            .nav.child_menu {
                >li {
                    >a {
                        padding: 9px;
                        color: rgb(255, 255, 255);
                        font-size: 12px;                        
                    }
                }
                li {
                    &:hover {
                     //   background: linear-gradient(90deg, @clr_body_bg 30%, rgba(8,112,150,0.3));
                        background: darken(@clr_header, 2%);
                     //   text-shadow: 0 0 1px @clr_OEgreen;
                    }
                }
                li.active {
                    background: linear-gradient(90deg, @clr_body_bg, rgba(8,112,150,0.3));
                    text-shadow: 0 -1px 4px #82d21a;
                }
                li.current-page {
                    a {
                        color: @clr_body;
                    }
                }
                li.current-page {
                  //  background: linear-gradient(90deg, @clr_body_bg 30%, rgba(8, 112, 150, 0.3));
                  background: darken(@clr_header, 2%);
                }
            }
        }

    }
}
//---- body class="nav-sm" ----
.nav-sm {
   div#sidebar-menu.main_menu_side {
        background: @clr_body_bg;
    }
    .nav.child_menu {
        li {
            background: @clr_header;
        }
        li.active {
            border-right: 3px solid @clr_OEgreen2 ;
        }
    }
    .nav.side-menu {
        li.active-sm {
            border-right: 3px solid @clr_OEgreen2;
        }
    }    
    .left_col {
        .main_menu {
            .nav.side-menu {
                >li {
                    margin: 0;
                    border:none;
                    background: @clr_body_bg;
                }
                >li.active {
                    >a {
                        background: @clr_header;
                        border-top: 1px solid @clr_bannerBlue;
                    }                    
                }
            }
        }
    }
    ul.nav.child_menu {
        width: auto;
        min-width: 120px;
        background: @clr_header;
        border: 1px solid @clr_bannerBlue;
        border-left: none;
        li {
            padding: 0 2px;
            a {
                width: 100%;
                max-width: 190px;
            }
        }
    }
}
//---- hiding a marker in the menu list----
.nav-md {
    ul.nav.child_menu {
	li {
            &:after {
            display: none;
            }
            &:before {
            display: none;
            }
	}
    }
}
//---- sidebare-footer ----
div.sidebar-footer.hidden-small {
    background: linear-gradient(90deg, rgba(0,173,238,0.1), rgba(0,173,238,0.8), rgba(0,173,238,0.1));
    >a {
        background: @clr_black2;
        color: @clr_OEgreen;
        text-decoration: none;
        &:hover {
            color: @clr_OEblue;
            background: @clr_body_bg;
        }
    }
}
//---- right-col ----

//---- Summary ----
.x_panel {
    background: linear-gradient(180deg, @clr_body_bg 10%, rgba(29, 29, 29, 0.2) 50%);
    border: 1px solid #333434;
    border-radius: 4px;
    box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.2), 1px 1px 0 0 rgba(0,0,0,0.3);
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    ul.gotodash {
        &:hover a.gotodash {
            box-shadow: inset 3px 2px 4px 0 rgba(0, 0, 0, 0.4);
            background: linear-gradient(135deg, #171717, rgba(84,90,72,0.2));
            border: 1px solid @clr_header;
        }
        li {
            position: relative;
            padding: 4px;
            list-style: none;
            background: darken(@clr_header, 2%);
            background-image: linear-gradient(270deg,#141616, #1e211e 6%, #1e211e 94%, #141616);
            &:hover { 
              //  background-color: inherit;
                border-radius: 0px;                
            }
            a.gotodash {
                margin: 3px;
                background: @clr_header;
                border: 1px solid lighten(@clr_header, 10%);
                border-radius: 4px;
                color: rgb(255, 255, 255);
                &:hover {
                    background: lighten(@clr_header, 2%);
                    border: 1px solid lighten(@clr_header, 10%);
                    box-shadow: -3px 4px 2px 0 rgba(0,0,0,0.6);                    
                    text-shadow: 0 0 1px @clr_OEblue;
                }
            } 
        }  
    }
    .x_content{
        .tile_count {
            .tile_stats_count {
                /*background-color: rgba(31, 31, 31, 0.4);
                  border-radius: 4px;
                  box-shadow: inset 0 1px 2px rgba(200,200,200,0.2);
                  margin-left: 10px;*/
                background-color: rgba(30, 33, 30, 0.4);
                border: 1px solid #363c36;
                border-radius: 4px;
                margin-left: 10px;
                &:before {
                    border: 0;
                }
                &:hover a.showtags {
                            box-shadow: -3px 4px 2px 0 rgba(0,0,0,0.6);
                            background-color: #242726;
                        }
                .count {
                    color: @clr_infoText;
                }
                .count_bottom {
                    a.showtags {                        
                        border: 1px solid #363c36;
                        border-radius: 2px;
                        padding: 2px;
                    }
                }
            }
        }
    }
}
.balace_part .tile_count .tile_stats_count {
    margin-left: 0;
    .count:extend(.x_panel .x_content .tile_count .tile_stats_count .count){}
}
.green {
        color: @clr_OEgreen;
}
//---- Profile edit----

ul.bar_tabs {
    background: @clr_black2;
    border-bottom: 1px solid #333434;
    box-shadow: inset 0 -5px 10px -6px #425b24;
    >li {
        border: 1px solid #273232;
        background: #101010;
        a {
            background: @clr_black2;
            font-size: 13px;
            &:hover {
                font-weight: bold;
            }
        }
    }
    >li.active {
        border-right: 2px solid #334848;
        border-bottom: none;
        >a {
            color: @clr_OEblue;
            background-color: transparent;
            border: 1px solid #273232;
            border-bottom-color: transparent;
            cursor: default;
            &:hover {
                color: @clr_OEblue;
                background-color: transparent;
                border: 1px solid #273232;
                border-bottom-color: transparent;
                cursor: default;
            }
            &:focus {
                color: @clr_OEblue;
                background-color: transparent;
                border: 1px solid #273232;
                border-bottom-color: transparent;
                cursor: default;
            }
        }
    }
}
//---- Profile_edit_General ----

//---- changes select2 css ----
.select2-container--default {
    .select2-selection--single {
        background-color: #171819 !important;
        border: 1px solid #333434 !important;
        border-radius: 4px !important;
        .select2-selection__rendered {
            color: @clr_infoText !important;
        }
    }
    .select2-search--dropdown {
        .select2-search__field {
            background-color: #2c2c2c !important;
            color: #ffc255 !important;
        }
    }
    .select2-results__option--highlighted[aria-selected] {
        background-color: #f7bb53 !important;
        color: @clr_body_bg !important;
    }
    .select2-results__option[aria-selected=true] {
        background-color: #464a4a !important;
    }
}
.select2-dropdown {
    background-color: #333434 !important;
    border: 1px solid #656768 !important;
}
//---- Profile_edit_LevelSettings ----
table>tbody>tr>td {
    color: @clr_infoText;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgb(24, 26, 26,1);
}
.table {
    >thead {
        >tr {
            >th {
                .gray_border-top();
                border-bottom: 2px solid @clr_bannerBlue;
            }
            >td {
                .gray_border-top();
            }
        }
    }
    >tbody {
        >tr {
            >th {
                .gray_border-top();
            }
            >td {
                .gray_border-top();
            }
        }
    }
    >tfoot {
        >tr {
            >th {
                .gray_border-top();
            }
            >td {
                .gray_border-top();
            }
        }
    }
}
.form-control {
    color: @clr_infoText;
    background-color: #171819;
    border: 1px solid #333434;
    &:focus {
        border-color: #00adee;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), 0 0 8px rgba(102, 175, 233, 0.6) !important;
    }
}
//---- Profile_edit_Security - don't change ----

//---- modal-content ----
div.modal-content .text-warning {
    color: #ffa400;
}
//---- listtable_wrapper ----
div.modal-content {
    background-color: @clr_greyGreen1;
    border: 2px solid rgba(84, 91, 75, 0.8);
    color: @clr_black2;
    .modal-header {
        border-bottom: 1px solid #4b5240;
    }
    .form-control {
        color: @clr_infoText;
        background-color: @clr_bannerBlue;
        border: 1px solid @clr_greyGreen2;
    }
    .table-striped {
        >tbody {
            >tr {
                &:nth-of-type(odd) {
                    background: linear-gradient(270deg,@clr_greyGreen1,@clr_greyGreen2,@clr_greyGreen1);
                }
            }
        }
    }
    .modal-footer {
        padding: 10px;
        border-top: 1px solid #4b5240;
    }
}
//---- listtable2_wrapper ----
#listtable2_wrapper {
    td {
        >a {
            &:not(.btn) {
                color: @clr_infoText;
            }
        }
    }
    td.icons {
        a {
            color: @clr_OEgreen;
            &:hover { 
                color: @clr_OEblue;
            }

        } 
    }
    td.sorting_1 {
        a { 
            color: @clr_OEgreen;
            &:hover {
                color: @clr_OEblue;
            }
        }
    } 
    #listtable2 {
        th.sorting_disabled {
            button.btn-success {
                background: @clr_OEgreen;
                border: 1px solid #ace960;
                &:hover, &:active, &:focus{
                    background: @clr_OEblue;
                    border-color: #85e3ff;
                    box-shadow: 0 0 4px #e3f8ff;
                }
            }
        }
        .dropdown-menu {
            background-color: @clr_bannerBlue;
            border: 1px solid #c2ae83;
            li>a {
                color: @clr_infoText;
                &:hover, &:focus{ 
                    background: #0b2f3c;
                }
            }
            .divider {
                height: 2px;
                background-color: #0b2f3c;
                border-bottom: 1px solid #0b2f3c;
            }
        }
    }
}       

//---- Metriq ----
//---- table ----
table.metrictable {
    border: 1px solid #44493d;
    >thead {
        &:first-child {
            >tr {
                &:first-child {
                    >th {
                        color: #fff;
                    }
                }
            }
        }
        >tr {
            >th {
                border: 1px solid rgba(68, 73, 61, 0.4);
            }
        }
    }
    >tbody {
        >tr {
            >td {
                border-right: 1px solid rgba(68, 73, 61, 0.4);
            }
        }
    }
}

//---- History ----
//---- calendar ----
.reportrange {
    
    padding: 4px 10px;
    background: #454a3e;
    border: 1px solid @clr_greyGreen1;
    border-radius: 4px;
    span {
        color: @clr_OEgreen;
    }
    b.caret {
        color: @clr_OEblue;
    }
}

.daterangepicker.dropdown-menu {
    background: @clr_black2;
    border: 1px solid @clr_greyGreen1;
    .calendar-table {
        background-color: #454a3e;
        border: 1px solid @clr_greyGreen1;
        border-radius: 0 0 4px 4px;
    }
    td.off {
        color: #777;
        background-color: #454a3e;
    }
    select.monthselect {
        border: 1px solid @clr_greyGreen1;
        background-color: #171819;
        color: @clr_infoText;
    }
    select.yearselect {
        border: 1px solid @clr_greyGreen1;
        background-color: #171819;
        color: @clr_infoText;
    }
    th.prev.available {
        color: @clr_OEblue;
    }
    th.next.available {
        color: @clr_OEblue;
    }
    td.available {
        &:hover {
            background: @clr_OEgreen2;
            color: @clr_body_bg;
        }
    }
    th.available {
        &:hover {
            background: @clr_OEgreen2;
            color: @clr_body_bg;
        }
    }
    td.active {
        background-color: @clr_OEblue2;
        color: @clr_body;
        &:hover {
            background-color: @clr_OEblue2;
            color: @clr_body;
        }
    }
    
}
//---- Chart ----
//---- calendar ----
.daterangepicker {
    .daterangepicker_input {
        select.hourselect {
            background-color: #171819;
            border: 1px solid #333434;
            color: @clr_infoText;
        }
        select.minuteselect {
            background-color: #171819;
            border: 1px solid #333434;
            color: @clr_infoText;
        }
    }
    .ranges {
        li {
            background: @clr_greyGreen2;
            border: 1px solid @clr_greyGreen1;
            color: @clr_infoText;
            &:hover {
                background: @clr_OEblue2;
                border: 1px solid @clr_OEblue;
                color: @clr_body;
            }
        }
        li.active {
            background: @clr_OEblue2;
            border: 1px solid @clr_OEblue;
            color: @clr_body;
        }
    }
}
//---- Infrastructure ----

div.profile_left {
    h4 {
        >i.hidefilter {
            color: @clr_OEblue;
        }        
    }
     
}
.x_panel {
    >.profile_left {
        background-image: linear-gradient(@clr_black2,darken(@clr_greyGreen2,10%) 10%, darken(@clr_greyGreen2,10%) 75%, @clr_black2);
        border: 1px solid #0f0f0f;
        border-radius: 4px;
        .profile_left-form {
            height: 820px;
        }
    }  
}

div#tagsconteger.ui-sortable {
    background: @clr_greyGreen2;
    border: 1px solid lighten(@clr_greyGreen2, 10%);
    border-radius: 4px;
    padding: 4px;
    &:hover .draggable{
        box-shadow: inset 4px 3px 4px 0 rgba(0, 0, 0, 0.3);
    }
    .draggable {
        border: 1px solid lighten(@clr_greyGreen2, 10%);
        border-radius: 4px;
        background: inherit;
        box-shadow: none;
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
        &:hover {
            box-shadow: -5px 5px 2px 0 rgba(0, 0, 0, 0.3);
        }
        >label{
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }

    }
}



.autocomplete-suggestions {
    background-color: #333434 !important;
    border: 1px solid #656768 !important;
}
.autocomplete-selected {
    background-color: #f7bb53 !important;
    color: @clr_body_bg !important;
}
div.profile_right-table {
    >div.x_panel {
/*        background-image: radial-gradient(@clr_greyGreen1, @clr_greyGreen2, @clr_black2);*/
        background-image: radial-gradient(darken(@clr_greyGreen1, 10%),darken(@clr_greyGreen2, 10%), @clr_black2);
        box-shadow: none;
        border: 1px solid #0f0f0f;
    }
}

//---- Real Time ----
#query_form_content {
    i.fa-chevron-down {
        color: @clr_OEblue;
    }
    i.fa-chevron-up {
        color: @clr_OEblue;
    }
    fieldset {
        border: 2px solid @clr_bannerBlue;
        border-width: 2px 0 0 0;
        td.value {
            input.filter-value {
                color: @clr_infoText;
                background-color: #171819;
                border: 1px solid #333434;
            }
        }
        div.add-filter {
            border: 1px solid @clr_greyGreen2;
            border-width: 0 0 2px 0;
        }
        label.all_filter {
            color: #656768;
        }
    }
    div.notifiers-table {
        div.item.value {
            input.notifier-value {
                color: @clr_infoText;
                background-color: #171819;
                border: 1px solid #333434;
            }
        }
    }
}
.select2-container--default {
    .select2-selection--multiple {
        background-color: #171819;
        border: 1px solid #333434;
        .select2-selection__rendered {
            background-color: #171819;
        }
        .select2-selection__choice {
            background-color: @clr_bannerBlue;
            &:hover {
                span.select2-selection__choice__remove {
                    color: @clr_body_bg;
                }
            }
        }
        .select2-selection__choice__remove {
            color: #715150;
        }
    }
    .select2-selection--single {
        background-color: #171819;
        border: 1px solid #333434;
    }
}
.select2-container--default.select2-container--focus {
    .select2-selection--multiple {
        border: 1px solid #333434;
    }
}
div.filter-body {
    div.item.notifier_label {
        color: @clr_infoText;
    }
}
div.x_panel {
    >div.btn-toolbar {
        background: #171819;
        border: 1px solid @clr_bannerBlue;
    }
}
// ---- monitorlist ----
.monitorlist {
    li {
        ul#regularlist {
            border-top: double 6px @clr_greyGreen2;
        }
        ul {
            color: @clr_bannerBlue;
        }
    }
    .level_0 {
        background-color: @clr_greyGreen1;
    }
}
div.btn-group-vertical {
    >button.btn {
        color: #8fc746;
        background-color: @clr_bannerBlue;
        &:hover {
            color: @clr_OEblue;
            background-color: @clr_body_bg;
        }
    }
}
//---- Detailing Analytics ----

select.form-control:extend(.form-control){}

.accordion {
    .panel {
        .panel-heading {
            border-radius: 4px;
            background: linear-gradient(135deg, #212121, #323232);
            box-shadow: -1px -1px 0 0 rgba(255,255,255,0.3), 1px 1px 0 0 rgba(120,120,120,0.4);
            &:hover {
                background: linear-gradient(135deg, #171717, #292929);
                box-shadow: none;
            }
        }
        margin-bottom: 10px;
        border-style: none;
        background-color: #151616;
        &:hover {
            border-radius: 4px;
            box-shadow: 0 1px 10px rgb(3, 131, 179);
            background-color: @clr_black2;
        }
        
    }
}
.progress {
    margin-top: 5px;
    background-color: #3c3c3c;
    box-shadow: inset -1px 1px 4px rgba(38, 185, 154, 0.4);
}
div#accordion1 .table-bordered>tbody>tr>th {
    border: 1px solid rgba(68,73,61,0.4);
}
// ---- dash edit ----
.dropdown_button.fa-chevron-circle-down {
    color: @clr_OEgreen2;
}
.dropdown_button.fa-chevron-circle-up {
    color: @clr_OEblue2;
}
.dash_header {
    margin: 0;
    background-color: rgba(69, 74, 62, 0.3);
    .title_text {
        color: @clr_infoText;
        font-weight: bold;
        margin: 5px 5px 0;
        span {
            margin: 0 5px;
            color: @clr_infoText;
            font-weight: bold;
        }
    }    
    .title_input{
        input {
            margin-right: 5px;
            padding-left: 5px;
            background-color: #171819;
            border: 1px solid #333434;
            border-top-left-radius: 4px;
            color: #f7dea2;
        }
        .savetitle {
            color: @clr_OEgreen;
        }
    } 
    .dropdown-menu {
        border: 1px solid #72786a;
        >li {
            >a.savedashasTemplate {
                background-color: #141616;
                border: 2px solid #454a3e;
                color: #ec971f;
            }
        }
    }
}
.widgetraw {
    .title_input{
        input {
            margin-right: 5px;
            padding-left: 5px;
            background-color: #171819;
            border: 1px solid #333434;
            border-top-left-radius: 4px;
            color: #f7dea2;
        }
        .savetitlerow {
            color: @clr_OEgreen;
        }
    }
    .title_text {        
        span {
            margin: 0 5px;
            color: @clr_infoText;
            font-weight: bold;
        }
        color: @clr_infoText;
        font-weight: bold;
        margin: 2px 2px 0;
    }
    .raw-controls {
        margin: 0;
        background-color: rgba(69, 74, 62, 0.2);
    }
    border: 1px solid rgba(51, 52, 52, 0.5);
}
span.tagspan {
    background: @clr_bannerBlue;
}
#singlewidget {
    .chartTitleDiv {
        background: linear-gradient(90deg,#111111, #444444, #111111);
        box-shadow: -1px -1px 0 0 rgba(255,255,255,0.3), 1px 1px 0 0 rgba(120,120,120,0.4);
        &:hover {
            background: linear-gradient(90deg,#444444, #111111, #444444);
            box-shadow: 0 1px 5px rgb(55, 146, 148);
        }
        .hoverShow {
            background-color: #ededed;
            border-radius: 0 4px 4px 4px;
            color: #000;
        }
        .chartTitle {
            .dropdown-toggle {
                span {
                    color: @clr_OEblue;
                }
            }
        }
        .dropdown-menu {
            background-color: #454a3e;
            border: 1px solid #5d6c3c;
            >li{
                >a{
                    background-color: #141616;
                    color: #ec971f;
                    &:hover, &:focus{
                        background-color: @clr_bannerBlue; 
                    }
                    >i{
                        color: #fff; 
                    }
                }
            }
        }
    }
    .tile-stats {
        background-color: inherit;
        border: 1px solid #333434;
    }
}
.rowcontent {
    .chartsection {
        >div {
            border: 1px solid rgba(51, 52, 52, 0.5);
        }
        .chartTitleDiv {
            background: inherit;
            &:hover {
                box-shadow: 0 8px 8px -8px @clr_OEblue;
            }
            .hoverShow {
                background-color: #ededed;
                border-radius: 0 4px 4px 4px;
                color: #000;
            }
            .chartTitle {
                .dropdown-toggle {
                    span {
                        color: @clr_OEblue;
                    }
                }
            }
            .dropdown-menu {
                background-color: #454a3e;
                border: 1px solid #5d6c3c;
                >li{
                    >a{
                        background-color: #141616;
                        color: #ec971f;
                        &:hover, &:focus{
                            background-color: @clr_greyGreen2; 
                        }
                        >i{
                            color: #fff; 
                        }
                    }
                }
            }
        }
        .tile-stats {
            background-color: inherit;
        }
    }
}
.reflock {
    background: #171819;
    color: #f7ce78;
    border: 1px solid #333434;
    border-radius: 4px;
}
.input-group-addon {
    background: linear-gradient(270deg, @clr_black2, #323232);
    border: 1px solid #333434;
}
div#reportrange_private {
    background: #454a3e !important;
    padding: 4px 10px !important;
    border: 1px solid @clr_greyGreen1 !important;
    border-radius: 4px !important;
    b.caret {
        color: @clr_OEblue;
    }
}
.filter.fix {
    background: fade(@clr_body_bg, 30%);
    border: 1px solid #333434;
}
#tab_metric .edit-query .iradio_flat-blue, #tab_data_zoom .edit-datazoom .icheckbox_flat-blue {
    margin-left: 2px;
}
//---- json ----
div.jsoneditor-menu {
	background-color: #abc07d;
	border-bottom: 1px solid #5d6c3c;
}
div.jsoneditor {
	border: 1px solid #b8bea5;
}
div#jsoneditor {
	.ace-jsoneditor {
		.ace_scroller {
			background-color: @clr_body;
		}
	}
}
div.jsoneditor-tree {
	table.jsoneditor-tree {
		background-color: @clr_body;
	}
	background: @clr_body;
}
