/* -- changes for dark_theme -- */
// ---- colors ----
@clr_body_bg: #0d0e0e;
@clr_body: #ffffee;
/*@clr_header: #1e211e;*/
/*@clr_header: #101212;*/
@clr_header: #141717;
/*@clr_rightCol_bg: #101212;*/
@clr_rightCol_bg: #1a1d1d;
/*@clr_base_bg: lighten(spin(@clr_header, 60), 2%) ;*/
/*@clr_base_bg: #171917;*/
@clr_base_bg: #212424;

@clr_OEgreen: #8bc53f;
@clr_OEgreen2: #92ad57;
@clr_OEblue: #00adee;
@clr_OEblue2: #2e92b0;
@clr_greyGreen1: #72786a;
@clr_greyGreen2: #545b4b;
@clr_greyGreen3: #454a3e;
@clr_border: #333434;

@clr_darkRed: #a52f2c;
@clr_darkOrange: #e78803;
@clr_infoText: #ffdea2;
@clr_bannerBlue: #091f27;


.base_border(@border: border, @width: 1px, @type: solid, @color: @clr_border){
    @{border}-width: @width;
    @{border}-style: @type;
    @{border}-color: @color;
}
.btn_border(@width:1px, @type:solid, @color:lighten(@bg,20%)){
    border:@arguments;
}  
/*.btn_OE(@color: @clr_body_bg, @bg: @clr_body){    
    color: @color;
    background-color: @bg;
    .btn_border();
    &:focus {
        color: @color;
        background-color: @bg;
        .btn_border();
    }
}
.btn_OEhover(@color: @clr_body_bg, @bg: @clr_body){      
    &:hover, &:active, &:active:hover, &:active:focus {
        color: darken(@bg,8%);
        background-color: rgba(0, 0, 0, 0);
        .btn_border(@color:darken(@bg,5%));
    }
}*/
.btn_OE(@color: @clr_body_bg, @bg: @clr_body, @fw: bold){    
    color: @bg;
    background-color: rgba(0, 0, 0, 0);
    .btn_border(@color: @bg);
    font-weight: @fw;
    &:focus {
        color: @bg;
        background-color: rgba(0, 0, 0, 0);
        .btn_border(@color: @bg);
        font-weight: @fw;
    }
}   
.btn_OEhover(@color: @clr_body_bg, @bg: @clr_body, @fw: bold){      
    &:hover, &:active, &:active:hover, &:active:focus {
        color: @color;
        background-color: @bg;
        .btn_border();
        font-weight: @fw;
    }
}
// ---- // ----//
body {
    color: @clr_body;
    background: @clr_body_bg;
    .container.body .right_col, footer{
/*       background: lighten(@clr_body_bg, 2%);*/
/*         background: darken(@clr_base_bg, 3%);*/
        background: @clr_rightCol_bg;

    }
}
//---- scrollbar ----
::-webkit-scrollbar-track {
    background-color: #000000
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: @clr_OEgreen2;
}
::-webkit-scrollbar-thumb:hover {
    background-color: @clr_OEblue2;
}
::-webkit-resizer {
    width: 8px;
    height: 0px
}
::-webkit-scrollbar {
    width: 8px;
}
// ---- remove arrows in input ----
input[type=number] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
// ---- button ----
.btn-ok {
    .btn_OE(@bg: @clr_OEgreen);
    .btn_OEhover(@bg: @clr_OEgreen2);
}
.btn-default {
/*  .btn_OE(@bg:darken(@clr_greyGreen3,10%));
  .btn_OEhover(@bg:@clr_greyGreen3);*/
  .btn_OE(@bg:lighten(@clr_base_bg, 20%));
  .btn_OEhover(@bg:lighten(@clr_base_bg, 20%));
}
.btn-default-dash {
  .btn_OE(@bg:@clr_greyGreen2);
  .btn_OEhover(@bg:@clr_greyGreen1);
}
.btn-primary {
  .btn_OE(@bg: lighten(saturate(@clr_OEblue,20%),12%));
  .btn_OEhover(@bg: @clr_OEblue);
}
// Success appears as green
.btn-success {
  .btn_OE(@bg:@clr_OEgreen2);
  .btn_OEhover(@bg:@clr_OEgreen);
}
// Info appears as blue
.btn-info {
  .btn_OE(@bg:@clr_OEblue2);
  .btn_OEhover(@bg:@clr_OEblue2);
}
// Warning appears as orange
.btn-warning {
  .btn_OE(@bg:@clr_darkOrange);
  .btn_OEhover(@bg:@clr_darkOrange);
}
// Danger and error appear as red
.btn-danger {
/*  .btn_OE(@bg:darken(@clr_darkRed,10%));*/
  .btn_OE(@bg:@clr_darkRed);
  .btn_OEhover(@bg:@clr_darkRed);
}
a.btn-success:extend(.btn-success){}
a.btn-primary:extend(.btn-primary){}
a.btn-warning:extend(btn-warning){}
a.btn-danger:extend(.btn-danger){}

/*a.btn-success,
a.btn-primary,
a.btn-warning,
a.btn-danger {
    color: @clr_body_bg;
}*/

// ---- form ----
.form-control {
    color: @clr_infoText !important;
    background-color: darken(@clr_bannerBlue, 5%) !important;
    .base_border() !important;
    border-radius: 4px;
    &:focus {
        border-color: @clr_OEblue;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), 0 0 8px rgba(102, 175, 233, 0.6) !important;
    }
}
// ---- paginate ----
.pagination {
        >li {
            >a {
                color: @clr_OEgreen2;
/*                background: @clr_greyGreen2 !important;*/
                background: lighten(@clr_base_bg, 20%) !important;
                border-color: @clr_border !important;
                &:hover {
                    color: @clr_OEblue2;
                }
            }
        }
        >.disabled {
            >a {
                color: @clr_base_bg;
            }
        }
    }
.paging_full_numbers {
    width: 420px;
}
// ---- iCheck ----
.checked {
    background-color: transparent;
}
.metricinfo td .icheckbox_flat-blue {
    margin-right: 3px;
    vertical-align: inherit;
}
/*// ---- Switchery ----
.switchery-small {
    width: 42px;
    height: 16px;
    border-radius: 4px; 
}
.switchery-small > small { 
    height: 16px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);   
}*/
// ---- chevron up/down ----
span.fa.fas.fa-chevron-down {
    font-size: 12px;
    color: @clr_OEgreen2;
}
.fa-chevron-down, .fa-angle-down,  i.fa-chevron-down  {
    color: @clr_OEgreen2;
}
i.fa-chevron-up {
    color: @clr_OEblue2;
}
.dropdown_button.fa-chevron-circle-down {
    color: @clr_OEgreen2;
}
.dropdown_button.fa-chevron-circle-up {
    color: @clr_OEblue2;
}
// ---- dash ----
.x_panel.locked {
    border: none;
    background: none;
    box-shadow: none;
}
.fulldash {
    padding: 0;
}
.x_panel.locked .chartsection>div {
    border: none;
}
// ---- // ---- //
.x_title {
        .base_border(border-bottom,@width: 2px,@color: lighten(@clr_base_bg, 10%));
}
a {
    color: @clr_OEgreen;
}
a:hover, .query-label a:hover, .data-label a:hover {
    color: @clr_OEblue;
}
.balace_part{
    .tile_count {
        .tile_stats_count:before {
            border-color: lighten(@clr_base_bg, 10%);
        }
        .od{
            input {
                color: @clr_infoText;
                background-color: @clr_bannerBlue;
                .base_border(@color:lighten(@clr_base_bg, 10%));
                padding-left: 4px;
            }
        } 
    }
}
// ---- // ---- //
.nav_title {
    background: @clr_body_bg;
}
.top_nav {
    .nav_menu {
        background: @clr_header;
/*        border-bottom: 1px solid lighten(@clr_base_bg, 10%);*/
        .base_border(border-bottom,@color: lighten(@clr_base_bg, 10%));
        .navbar-nav.navbar-right {
            li>a {
                color: @clr_body !important;
                &:focus,&:hover{
                    background: linear-gradient(to top, rgba(255,255,255,0) 5px, @clr_body_bg 1px),
                                linear-gradient(90deg, @clr_body_bg, @clr_OEgreen, @clr_body_bg);
                }
            }        
            .open {
                a{
                    background: @clr_body_bg;
                    &:focus, &:hover{
                        background: @clr_body_bg; 
                    }
                }
                .dropdown-menu {
                    .base_border(@color:lighten(@clr_base_bg, 10%));
                    border-top: none;
                    border-radius: 0 4px;
                    margin-top: 1px;
/*                    background: @clr_header;*/
                    li>a {
                        background: lighten(@clr_base_bg, 5%);
                        color: @clr_body;        
                        &:hover,&:focus {
                            background: darken(@clr_header, 2%);
                            color: @clr_OEgreen2 !important;
                        }
                    }
                    .user-profile {
                        color: @clr_body !important;
                    }
                }
            }

        } 
    }
}
//---- left-col ----
.nav-md {    
    .nav.side-menu{
        &:hover >li{
            box-shadow: inset 3px 2px 4px 0 rgba(0, 0, 0, 0.6);
        }
        >li{
/*            background: @clr_header;*/
            background: @clr_rightCol_bg;
/*            .base_border(@color:lighten(@clr_header, 10%));*/
            .base_border(@color:lighten(@clr_rightCol_bg, 10%));
            border-radius: 4px;
            margin: 6px;

            &:hover {
                box-shadow: -3px 3px 2px 0 rgba(0, 0, 0, 0.8);
            }
        }
    }
}

.left_col {
    background: @clr_body_bg;
    div#sidebar-menu.main_menu_side {
        background: lighten(@clr_base_bg, 10%);
        /*          background: @clr_header;*/
        /*          border-radius: 4px;*/
        /*          background-image: linear-gradient(@clr_body_bg, @clr_header 10%, @clr_header 80%, @clr_body_bg);*/
        /*          background-image: linear-gradient(@clr_body_bg, lighten(@clr_base_bg, 10%) 10%, lighten(@clr_base_bg, 10%) 80%, @clr_body_bg);*/
        .menu_section {
            margin-bottom: 0;
            >ul {
                margin-top: 0;
            }
        }
    }
    .main_menu {
        i.fa.fas, i.fa.far, i.fa-edit{
            color: @clr_body;
        }
        .nav.side-menu{
            >li{
                &.active {
                    >a {
                        background: @clr_header;
                        color: @clr_OEgreen2;
                        box-shadow: none;
                        font-weight: bold;
                        border-radius: 4px;
                    }         
                }
                >a {
                    color: @clr_body;
                    font-weight: 500;
                    &:hover {
                        color: @clr_OEgreen2 !important;
                        font-weight: bold;
                    }
                    
                }
            }
            .nav.child_menu {
                >li {
                    >a {
                        padding: 9px;
                        color: rgb(255, 255, 255);
                        font-size: 12px;                        
                    }
                }
                li {
                    &:hover {
                        background: @clr_header;
                     a{
                         color: @clr_OEgreen2;
                     }
                    }
                }        
                li.current-page {
                  background: @clr_header;
                  a {
                        color: @clr_OEgreen;
                    }
                }
            }
        }

    }
}
//---- body class="nav-sm" ----
.nav-sm {
   div#sidebar-menu.main_menu_side {
        background: @clr_body_bg;
    }
    .nav.child_menu {
        li {
/*            background: @clr_header;*/
        }
        li.active {
            border-right: 3px solid @clr_OEgreen2 ;
        }
    }
    .nav.side-menu {
        li.active-sm {
            border-right: 3px solid @clr_OEgreen2;
        }
    }    
    .left_col {
        .main_menu {
            .nav.side-menu {
                >li {
                    margin: 0;
                    border:none;
                    background: @clr_body_bg;
                }
                >li.active {
                    >a {
/*                        background: @clr_header;*/
                        background: lighten(@clr_base_bg, 5%);
                        border-top: 1px solid lighten(@clr_base_bg, 10%);
                        border-radius: 0;
                    }                    
                }
            }
        }
    }
    ul.nav.child_menu {
        width: auto;
        min-width: 120px;
/*        background: @clr_header;*/
        background: lighten(@clr_base_bg, 5%);
        .base_border(@color:lighten(@clr_base_bg, 10%));
        border-left: none;
        li {
            padding: 0 2px;
            a {
                width: 100%;
                max-width: 190px;
            }
        }
    }
}
//---- hiding a marker in the menu list----
.nav-md {
    ul.nav.child_menu {
	li {
            &:after {
            display: none;
            }
            &:before {
            display: none;
            }
	}
    }
}
//---- sidebare-footer ----
div.sidebar-footer.hidden-small {
    background: linear-gradient(90deg, rgba(0,173,238,0.1), rgba(0,173,238,0.8), rgba(0,173,238,0.1));
    >a {
        background: @clr_header;
        color: @clr_OEgreen;
        text-decoration: none;
        &:hover {
            color: @clr_OEblue;
            background: @clr_body_bg;
        }
    }
}
//---- right-col ----

//---- Summary ----
.x_panel {
    background-color: @clr_base_bg;
    .base_border();
    border-radius: 4px;
/*    box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.2), 1px 1px 0 0 rgba(0,0,0,0.3);
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;*/
    ul.gotodash {
        &:hover a.gotodash {
            box-shadow: inset 3px 2px 4px 0 rgba(0, 0, 0, 0.4);
            background: linear-gradient(135deg,@clr_rightCol_bg ,@clr_base_bg);
            .base_border(@color:@clr_header);
        }
        li {
            position: relative;
            padding: 4px;
            list-style: none;
            background: @clr_base_bg;
/*            background-image: linear-gradient(270deg, @clr_base_bg, darken( @clr_base_bg, 1%) 10%, darken( @clr_base_bg, 1%) 90%, @clr_base_bg);*/
            &:hover { 
                border-radius: 0px;                
            }
            a.gotodash {
                margin: 2px;
                background: @clr_rightCol_bg;
                .base_border(@color: lighten(@clr_rightCol_bg, 10%));
                border-radius: 4px;
                color: rgb(255, 255, 255);
                &:hover {
/*                    background: lighten(@clr_rightCol_bg, 2%);*/
                    background: lighten(@clr_base_bg, 10%);
                    .base_border(@color: lighten(@clr_base_bg, 15%));
                    box-shadow: -4px 6px 2px 0 rgba(0,0,0,0.6);                    
                    font-weight: bold;
                    transition: 0.4s;
                }
            } 
        }  
    }
    .x_content{
        .tile_count {
            .tile_stats_count {
/*                background-color: rgba(30, 33, 30, 0.4);*/
                background-color: @clr_rightCol_bg;
                .base_border(@color: lighten(@clr_rightCol_bg, 10%));
                border-radius: 4px;
                margin-left: 10px;
                &:before {
                    border: 0;
                }
                &:hover a.showtags {
                    box-shadow: -3px 4px 2px 0 rgba(0,0,0,0.6);
                    background-color: lighten(@clr_base_bg, 10%);
                    .base_border(@color: lighten(@clr_base_bg, 15%));
                    border-radius: 4px;
                    padding: 2px;
                    transition: 0.4s;
                }
                .count {
                    color: @clr_infoText;
                }                
            }
        }
    }
}
.balace_part .tile_count .tile_stats_count {
    margin-left: 0;
    .count:extend(.x_panel .x_content .tile_count .tile_stats_count .count){}
}
.Consumptions {
    .count_bottom{
        .base_border(border-top);
    }
}
.green {
        color: @clr_OEgreen;
}
//---- Profile edit----
ul.bar_tabs {
    background: @clr_base_bg;
    .base_border(border-bottom);
    >li {
        .base_border();
        background: @clr_body_bg;
        a {
            background: @clr_body_bg;
        }
    }
    >li.active {
        .base_border(border-right,@width:2px,@color:darken(@clr_OEblue2, 6%));
        border-bottom: none;
        >a {
            color: @clr_OEblue;
/*            background-color: transparent;*/
            background-color: @clr_base_bg;
            .base_border();
            border-bottom-color: transparent;
            cursor: default;
            &:hover {
                color: @clr_OEblue;
                /*background-color: transparent;*/
                background-color: @clr_base_bg;
                .base_border();
                border-bottom-color: transparent;
                cursor: default;
            }
            &:focus {
                color: @clr_OEblue;
                background-color: @clr_base_bg;
                .base_border();
                border-bottom-color: transparent;
                cursor: default;
            }
        }
    }
}
//---- Profile_edit_General ----
//---- changes select2 css ----
.select2-container--default {
    .select2-selection--single:extend(.form-control){               
        .select2-selection__rendered {
            color: @clr_infoText !important;
        }
        .select2-selection__arrow{
            b {
                border-color: @clr_body transparent transparent transparent;
            }
        }
    }
    .select2-search--dropdown {
        .select2-search__field {
            .form-control() !important;
        }
    }
    .select2-results__option--highlighted[aria-selected] {
        background-color: @clr_darkOrange !important;
        color: @clr_body_bg !important;
    }
    .select2-results__option[aria-selected=true] {
        background-color: @clr_border !important;
    }
}
.select2-dropdown {
    background-color: @clr_header !important;
    .base_border() !important;
}
//---- Profile_edit_LevelSettings ----
table>tbody>tr>td {
    color: @clr_infoText;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgb(24, 26, 26,1);
}
.table {
    >thead {
        >tr {
            >th {
                .base_border(border-top);
                .base_border(border-bottom,@width: 2px,@color: lighten(@clr_base_bg, 10%));
            }
            >td {
                .base_border(border-top);
            }
        }
    }
    >tbody {
        >tr {
            >th {
                .base_border(border-top);
            }
            >td {
                .base_border(border-top);
            }
        }
    }
    >tfoot {
        >tr {
            >th {
                .base_border(border-top);
            }
            >td {
                .base_border(border-top);
            }
        }
    }
}  
//---- Profile_edit_Security ----
//---- modal-content ----
div.modal-content .text-warning {
    color: @clr_darkOrange;
}
//---- listtable_wrapper ----
div.modal-content {
/*    background-color: @clr_greyGreen1;*/
/*    background-color: @clr_greyGreen2;*/
    background-color: lighten(@clr_base_bg, 10%);
/*    .base_border(@width: 2px,@color: fade(@clr_greyGreen2,80%));*/
    .base_border(@width: 2px,@color: lighten(@clr_base_bg, 20%));
    color: @clr_body_bg;
    .modal-header {
/*        .base_border(border-bottom,@color:@clr_greyGreen2);*/
        .base_border(border-bottom,@color:lighten(@clr_base_bg, 20%));
    }
        /*.form-control {
        color: @clr_infoText;
        background-color: @clr_bannerBlue;
        border: 1px solid @clr_greyGreen2;
    }*/
    .table-striped {
        >tbody {
            >tr {
                &:nth-of-type(odd) {
/*                    background: linear-gradient(270deg,@clr_greyGreen1,@clr_greyGreen2,@clr_greyGreen1);*/
/*                    background: linear-gradient(270deg,@clr_greyGreen2,@clr_greyGreen1,@clr_greyGreen2);*/
                    background: linear-gradient(270deg,lighten(@clr_base_bg, 10%),lighten(@clr_base_bg, 20%),lighten(@clr_base_bg, 10%));
                }
            }
        }
    }
    .modal-footer {
        padding: 10px;
/*        .base_border(border-top,@color:@clr_greyGreen2);*/
        .base_border(border-top,@color:lighten(@clr_base_bg, 20%));
    }
}
//---- listtable2_wrapper ----
#listtable2_wrapper {
    td {
        >a {
            &:not(.btn) {
                color: @clr_infoText;
            }
        }
    }
    td.icons {
        a {
            color: @clr_OEgreen;
            &:hover { 
                color: @clr_OEblue;
            }

        } 
    }
    td.sorting_1 {
        a { 
            color: @clr_OEgreen;
            &:hover {
                color: @clr_OEblue;
            }
        }
    } 
    #listtable2 {
        th.sorting_disabled {
            button.btn-success {
                  .btn_OE(@bg:@clr_OEgreen2);
                  .btn_OEhover(@bg:@clr_OEgreen);
                /*background: @clr_OEgreen;
                color: #e1e5e7;
                border: 1px solid #ace960;
                &:hover, &:active, &:focus{
                    background: @clr_OEblue;
                    border-color: #85e3ff;
                    box-shadow: 0 0 4px #e3f8ff;
                }*/
            }
        }
        .dropdown-menu {
            /*background-color: @clr_bannerBlue;
            border: 1px solid #c2ae83;*/
            background: @clr_header;
            .base_border();
            li>a {
                color: @clr_body;
                &:hover, &:focus{ 
                /*background: #0b2f3c;*/
                    background: lighten(@clr_header, 2%);
                    color: @clr_OEgreen2;
                }
            }
            .divider {
                height: 3px;
                background-color: darken(@clr_OEgreen2, 10%);
                .base_border(border-bottom);
                .base_border(border-top);
            }
        }
    }
}       

//---- Metriq ----
//---- table ----
table.table-bordered {
    .base_border();
    >thead {
        &:first-child {
            >tr {
                &:first-child {
                    >th {
                        color: @clr_body;
                    }
                }
            }
        }
        >tr {
            >th {
                border: 1px solid rgba(68, 73, 61, 0.4);
            }
        }
    }
    >tbody {
        >tr {
            >td {
                border-right: 1px solid rgba(68, 73, 61, 0.4);
            }
        }
    }
}

//---- History ----
//---- calendar ----
.reportrange:extend(.form-control) {    
    padding: 4px 10px;
    b.caret {
        color: @clr_body;
    }
    i {
        color: @clr_body;
    }
    span {
    color: @clr_infoText;
    }
}
.daterangepicker.dropdown-menu {
    background: @clr_base_bg;
    .base_border();
    .calendar-table {
/*        background-color: @clr_greyGreen3;*/
        background-color: lighten(@clr_base_bg,10%);
        .base_border(@color:@clr_greyGreen1);
        border-radius: 0 0 4px 4px;
    }
    td.off {
        color: #777;
        background-color: lighten(@clr_base_bg,15%);
    }
    select.monthselect {
        .base_border(@color:@clr_greyGreen1);
        background-color: @clr_base_bg;
        color: @clr_infoText;
    }
    select.yearselect {
        .base_border(@color:@clr_greyGreen1);
        background-color: @clr_base_bg;
        color: @clr_infoText;
    }
    th.prev.available {
        color: @clr_OEblue;
    }
    th.next.available {
        color: @clr_OEblue;
    }
    td.available {
        &:hover {
            background: @clr_OEgreen2;
            color: @clr_body_bg;
        }
    }
    th.available {
        &:hover {
            background: @clr_OEgreen2;
            color: @clr_body_bg;
        }
    }
    td.active {
        background-color: @clr_OEblue2;
        color: @clr_body;
        &:hover {
            background-color: @clr_OEblue2;
            color: @clr_body;
        }
    }
    
}
//---- Chart ----
//---- calendar ----
.daterangepicker {
    .daterangepicker_input {
        select.hourselect {
            background-color: @clr_base_bg;
            .base_border();
            color: @clr_infoText;
        }
        select.minuteselect {
            background-color: @clr_base_bg;
            .base_border();
            color: @clr_infoText;
        }
    }
    .ranges {
        li {
/*            background: @clr_greyGreen2;
            .base_border(@color:@clr_greyGreen1);*/
            background: lighten(@clr_base_bg,10%);
            .base_border(@color:lighten(@clr_base_bg,10%));
            color: @clr_infoText;
            &:hover {
                background: @clr_OEblue2;
                .base_border(@color:@clr_OEblue);
                color: @clr_body;
            }
        }
        li.active {
            background: @clr_OEblue2;
            .base_border(@color:@clr_OEblue);
            color: @clr_body;
        }
    }
}
//---- Infrastructure ----
.x_panel {
    >.profile_left {
/*        background-image: linear-gradient(@clr_base_bg,darken(@clr_greyGreen2,10%) 10%, darken(@clr_greyGreen2,10%) 75%, @clr_base_bg);*/
        background: @clr_header;
        .base_border(@color: @clr_base_bg);
        border-radius: 4px;
        .profile_left-form {
            height: 820px;
        }
    }  
}
div#tagsconteger.ui-sortable {
    background: lighten(@clr_base_bg, 10%);
    .base_border();
    border-radius: 4px;
    padding: 4px;
    &:hover .draggable{
        box-shadow: inset 4px 3px 4px 0 rgba(0, 0, 0, 0.3);
    }
    .draggable {
        background: @clr_rightCol_bg;
        .base_border(@color: lighten(@clr_rightCol_bg, 10%));
        border-radius: 4px;        
        box-shadow: none;
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
        &:hover {
            box-shadow: -4px 6px 2px 0 rgba(0,0,0,0.4);
        }
        >label{
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }

    }
}
.autocomplete-suggestions {
/*    background-color: @clr_border !important;
    border: 1px solid #656768 !important;*/
    background-color: @clr_header !important;
    .base_border() !important;
}
.autocomplete-selected {
/*    background-color: #f7bb53 !important;
    color: @clr_body_bg !important;*/
        background-color: @clr_infoText !important;
        color: @clr_body_bg !important;
}
div.profile_right-table {
    >div.x_panel {
/*        background-image: radial-gradient(darken(@clr_greyGreen1, 10%),darken(@clr_greyGreen2, 10%), @clr_base_bg);*/
        background-image: radial-gradient(@clr_base_bg, @clr_rightCol_bg, @clr_header);
        box-shadow: none;
        .base_border(@color: @clr_base_bg);
    }
}
//---- Real Time ----
#query_form_content {
    fieldset {
        .base_border(@width: 2px,@color: lighten(@clr_base_bg, 15%));
        border-width: 2px 0 0 0;
        td.value {
            input.filter-value {
                color: @clr_infoText;
                background-color: @clr_base_bg;
                .base_border();
            }
        }
        div.add-filter {
            .base_border(@width:0 0 1px 0, @color:lighten(@clr_base_bg, 10%));
        }
        /*label.all_filter {
            color: @clr_border;
        }*/
    }
    div.notifiers-table {
        div.item.value {
            input.notifier-value {
                color: @clr_infoText;
                background-color: @clr_base_bg;
                .base_border();
            }
        }
    }
}
.select2-container--default {
    .select2-selection--multiple {
        background-color: @clr_base_bg;
        .base_border();
        .select2-selection__rendered {
            background-color: @clr_base_bg;
        }
        .select2-selection__choice {
            background-color: @clr_bannerBlue;
            &:hover {
                span.select2-selection__choice__remove {
                    color: @clr_darkRed;
                }
            }
        }
        .select2-selection__choice__remove {
            color: @clr_darkOrange;
        }
    }    
}
.select2-container--default.select2-container--focus {
    .select2-selection--multiple {
        .base_border();
    }
}
div.filter-body {
    div.item.notifier_label {
        color: @clr_infoText;
    }
}
div.x_panel {
    >div.btn-toolbar {
        background: @clr_base_bg;
        .base_border(@color:@clr_bannerBlue);
    }
}

// ---- monitorlist ----
.monitorlist {
    li {
        ul#regularlist {
            border-top: double 6px lighten(@clr_base_bg, 15%);
        }
        ul {
            color: @clr_bannerBlue;
            li.selected {
                box-shadow: inset 0px 0px 20px @clr_body_bg;
                .base_border();
                border-radius: 18px;
                color: @clr_body_bg;
                .icons{
                    padding-right: 4px;
                }
                .metricname {
                    a {
                        color: @clr_OEblue;
                    }
                }
            }
            li {
                .base_border();
                box-shadow: none;
                .valueinfo {
                    .base_border(border-bottom,@color:@clr_greyGreen3);
                }
                .metricname {
                    .base_border();
                    background-color: @clr_greyGreen3;
                    a {
                        color: @clr_OEgreen;
                    }
                }
            }
        }
    }
    .level_0 {
        background-color: @clr_greyGreen1;
    }
}
div.btn-group-vertical {
    >button.btn {
        color: @clr_OEgreen;
        background-color: @clr_bannerBlue;
        &:hover {
            color: @clr_OEblue;
            background-color: @clr_body_bg;
        }
    }
}
/*.monitorlist {
    li {
        ul {
            li.selected {
                box-shadow: inset 0px 0px 20px @clr_body_bg;
                .base_border();
                border-radius: 18px;
                color: @clr_body_bg;
            }
            li {
                .base_border();
                box-shadow: none;
            }
        }
    }
}*/


//---- Detailing Analytics ----
.accordion {
    .panel {
        .panel-heading {
            border-radius: 4px;
            background: @clr_header;
            .base_border();
/*            box-shadow: -1px 1px 0 0 @clr_greyGreen2, 1px -1px 0 0 @clr_greyGreen3;*/
            &:hover {
                background: @clr_base_bg;
/*                box-shadow: none;*/
                border: none;
            }
        }
        background-color: @clr_base_bg;
        margin-bottom: 10px;
        border-style: none;
        
        &:hover {
            background-color: @clr_base_bg;
            border-radius: 4px;
/*            box-shadow: 0 0 4px @clr_OEblue;*/
/*            box-shadow: 0 0 4px @clr_body;*/
           box-shadow: inset 0 1px 1px rgba(0,0,0,0.1),0 0 8px rgba(102,175,233,0.6);
            
        }        
    }
}
.progress {
    margin-top: 2px;
    background-color: @clr_border;
    box-shadow: inset -1px 1px 4px rgba(38, 185, 154, 0.4);
}
div#accordion1 .table-bordered>tbody>tr>th {
    .base_border(@color: fade(@clr_greyGreen2,40%));
}
// ---- Dashboards ----
.dash_header {
    margin: 0;
    background-color: fade(@clr_header,80%);
    .title_text {
        color: @clr_infoText;
        font-weight: bold;
        margin: 5px 5px 0;
        span {
            margin: 0 5px;
            color: @clr_infoText;
            font-weight: bold;
        }
    }    
    .title_input{
        input {
            margin-right: 5px;
            padding-left: 5px;
            background-color: @clr_base_bg;
            .base_border();
            border-top-left-radius: 4px;
            color: @clr_infoText;
        }
        .savetitle {
            color: @clr_OEgreen;
        }
    } 
    .dropdown-menu {
        .base_border(@color:@clr_greyGreen1);
        >li {
            >a.savedashasTemplate {
                background-color: @clr_base_bg;
                .base_border(@width: 2px,@color: @clr_greyGreen3);
                color: #ec971f;
            }
        }
    }
}
.widgetraw {
    .title_input{
        input:extend(.dash_header .title_input input){}
        .savetitlerow:extend(.dash_header .title_input .savetitle) {}
    }
    .title_text {        
        span {
            margin: 0 5px;
            color: @clr_infoText;
            font-weight: bold;
        }
        color: @clr_infoText;
        font-weight: bold;
        margin: 2px 2px 0;
    }
    .raw-controls {
        margin: 0;
        background-color: fade(@clr_header,80%);
    }
    .base_border(@color: fade(@clr_border, 40%));
}
.reflock:extend(.form-control){
    i{
        color: @clr_body;
    }
}
.filter.fix {
    background: fade(@clr_body_bg, 30%);
    .base_border();
}
// ---- dash ----
.rowcontent {
    .chartsection {
        >div {
            .base_border(@color: fade(@clr_border, 40%));
        }
        .chartTitleDiv {
            background: inherit;
            &:hover {
                box-shadow: none;
                border-bottom: 1px solid lighten(@clr_base_bg, 15%);
                border-radius: 0;
            }
            .hoverShow {
                background-color: #ededed;
                border-radius: 0 4px 4px 4px;
                color: #000;
            }
            .dropdown-menu {
/*                background-color: @clr_greyGreen1;
                .base_border(@color:lighten(@clr_greyGreen1, 10%));*/
                background-color: @clr_base_bg;
                .base_border();
                >li{
                    >a{
/*                        background-color: @clr_base_bg;*/                       
                        background-color: lighten(@clr_base_bg, 10%);                      
                        color: @clr_darkOrange;
                        &:hover, &:focus{
/*                            background-color: @clr_greyGreen2;*/
                            background-color: @clr_base_bg;
                        }
                        >i{
                            color: @clr_body; 
                        }
                    }
                }
            }
        }
        .tile-stats {
            background-color: inherit;
        }
    }
}
// ---- dash edit ----
#singlewidget {
    .chartTitleDiv:extend(.rowcontent .chartsection .chartTitleDiv) {
        &:hover:extend(.rowcontent .chartsection .chartTitleDiv:hover) {}
        .hoverShow:extend(.rowcontent .chartsection .chartTitleDiv .hoverShow) {}
        .dropdown-menu :extend(.rowcontent .chartsection .chartTitleDiv .dropdown-menu){            
            >li{
                >a:extend(.rowcontent .chartsection .chartTitleDiv .dropdown-menu>li>a){
                    &:hover:extend(.rowcontent .chartsection .chartTitleDiv .dropdown-menu>li>a:hover),
                    &:focus:extend(.rowcontent .chartsection .chartTitleDiv .dropdown-menu>li>a:focus){}
                    >i:extend(.rowcontent .chartsection .chartTitleDiv .dropdown-menu>li>a>i){}
                }
            }
        }
    }
    .tile-stats:extend(.rowcontent .chartsection .tile-stats) {
        .base_border();
    }
}
span.tagspan {
    background: @clr_bannerBlue;
}
.input-group-addon {
    background: linear-gradient(270deg, @clr_base_bg, @clr_border);
    .base_border() !important;
}
div#reportrange_private:extend(.reportrange) {
    i:extend(.reportrange i){}
    b.caret:extend(.reportrange b.caret) {}
}
#tab_metric .edit-query .iradio_flat-blue, #tab_data_zoom .edit-datazoom .icheckbox_flat-blue {
    margin-left: 2px;
}
//---- json ----

div.jsoneditor {
    .base_border();
}
div.jsoneditor-menu {
	background-color: @clr_OEgreen2;
	.base_border(border-bottom);
}
div.jsoneditor-tree {
	table.jsoneditor-tree {
		background-color: @clr_body;
	}
	background: @clr_body;
}
