
::-webkit-scrollbar-track {
    background-color: #212121;
}
.form-control {
    background-color: #272727!important;
    color: #D7DCDC!important;
    border-color: #0e0e0e!important;
}
/*====  table  ====*/
.table {
    color: #D7DCDC;
}
.table th {
    border-top: 1px solid #0E0E0E;
}
.table thead th {
    border-bottom: 2px solid #0E0E0E;
}
.table-bordered {
    border: 1px solid #979797;
}
.table th {
    border-top: 1px solid #373737;
}
.table thead th {
    border-bottom: 2px solid #373737;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #373737;
}




.table-striped tr {
    background-color: rgba(199, 204, 204, 0.2);
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(199, 204, 204, 0.14);
}
.table-striped tbody tr {
    background-color: rgba(199, 204, 204, 0.2);
}
.metricinfo>.icons>a {
    margin-left: 2px;
}
.metricinfo>.icons>a>i {
    vertical-align: bottom;
}
.checked {
    border-color: #373737;
    border-width: 2px;
    background-color: transparent;
}
.page-link,
.page-item.disabled .page-link {
    background-color: #474747;
    color: #D7DCDC;
    border: 1px solid #979797;
}
.page-item.active .page-link {
    background-color: #212121;
    color: #D7DCDC;
}
.page-item.disabled .page-link {

}

#modall2 th.sorting_disabled ul.dropdown-menu.show {
    background-color: #D7DCDC;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.8);
}
.page-item.active .page-link,
#modall2 th.sorting_disabled ul.dropdown-menu.show>li>a:hover {
    background-color: #212121!important;
    color: #D7DCDC!important;
}
/*====  modal  ====*/
.modal-content {
    background-color: #474747;
}
.modal-body {
    background-color: #373737;
}
.modal-header {
    border-bottom: 1px solid #979797;
}
.modal-footer {
    border-top: 1px solid #979797;
}
#listtablediv, #modall1 .modal-body, #modall2 .modal-body {
    padding: 0.2rem;
}



body,
body.nav-sm ,
body.nav-md {
    background-color: #474747;
    color: #D7DCDC;
}
.nav-sm #sidebar,
.nav-md #sidebar {
    background-color: #212121;
    color: #D7DCDC;
}
#sidebar ul li a:hover, div#sidebar-menu .card-header a:hover {
    border-radius: 4px;
    color: #0E0E0E;
    background: #D7DCDC;
    box-shadow: 0 0.5rem .8rem rgba(0, 0, 0, 1);
}

#content nav.navbar-dark {
    background-color: #272727;
    color: #D7DCDC;
}
.card {
    background-color: #373737;
}
.card-header,
.card-body.metriqs .card-header,
.card-body.metriqs .card-footer {
    background-color: #272727;
}
a.gotodash,
.tile_count .tile_stats_count {
    background-color: #373737;
    border: 1px solid #0E0E0E;
}
.tile_count .tile_stats_count:hover {
    box-shadow: 0 4px 12px -2px rgba(0,0,0,0.5), 0 8px 12px -2px rgba(0,0,0,0.3);
}

a.gotodash:hover {
    box-shadow: 0 8px 18px rgba(0,0,0,0.3), 0 4px 4px rgba(0,0,0,0.5);
}
.green:hover {
    color: #D7DCDC;
    text-decoration: underline;
}
.shadow {
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.4)!important;
}
.depthShadowLightHover:hover {
    background-color: #474747;
}

.btn-outline-dark {
    color: #D7DCDC;
    border-color: #C7CCCC;
}
.btn-outline-dark:hover {
    background-color: #D7DCDC;
    color: #0E0E0E;
    border-radius: 4px;
    border-color: #C7CCCC;    
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.8);
}
.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show>.btn-outline-dark.dropdown-toggle {
    background-color: #D7DCDC;
    color: #0E0E0E;
    border-color: #C7CCCC;
}
#navbarNavDropdown ul.navbar-nav ul.dropdown-menu-right,
ul#sidebarSmallMenu .dropright.show .dropdown-menu.show {
    background-color: #D7DCDC;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.8);
}
#sidebar.active ul#sidebarSmallMenu .dropright.show .dropdown-menu.show>a {
    color: #0E0E0E;
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select-items div:hover,
#sidebar.active ul#sidebarSmallMenu .dropright.show .dropdown-menu.show>a:hover,
#sidebarMenu.accordion>.card .card-body>ul>li>a:hover,
#navbarNavDropdown ul.navbar-nav ul.dropdown-menu-right .dropdown-item:hover {
    background-color: #212121!important;
    color: #D7DCDC!important;    
    box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,.6)!important;
}
#sidebarMenu.accordion>.card {
    background-color: #272727;
}
#sidebarMenu.accordion>.card>.card-header {
    background-color: #212121;
    padding: 0.2rem 0;
}
#sidebarMenu.accordion>.card .card-body, 
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #0E0E0E;
    background-color: #D7DCDC;
}
input#oddeyeAmmount {
    background-color: #272727;
    color: #D7DCDC;
    border-color: #0e0e0e;
    margin-right: 2px;
}

/*====  profile  ====*/
div#nav-tabContent {
/*    background-color: #272727;*/
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #c7cccc;
    background-color: #373737;
    border-color: #0e0e0e #0e0e0e #373737;
}
#nav-customTab.customTab {
    border-bottom: 1px solid #0e0e0e;
    box-shadow: 0 0.5rem 0.8rem -0.2rem rgba(0, 0, 0, 0.8);
}
#nav-customTab.customTab .nav-link.active {
    border-bottom: none;
    box-shadow: inset 0 0.4rem 0.8rem rgba(0, 0, 0, 0.8), 0 18px 12px -4px #373737;
    color: #D7DCDC;
    font-weight: bold;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #272727 #272727 #0e0e0e;
}
span.select2-selection.select2-selection--single,
.custom-select.customTemplate,
form#userdata input {
    background-color: #272727!important;
    color: #D7DCDC!important;
    border-color: #0e0e0e!important;    
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
     color: #D7DCDC!important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: #373737!important;
    color: #D7DCDC!important;
    border: 1px solid #0E0E0E!important;
}
span.select2-results ul.select2-results__options {
    background-color: #474747!important;
}
div.customTemplate .select-items {
    background-color: #474747!important;
    border: 1px solid #0E0E0E;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #373737!important;
    color: #6c757d!important;
}

/*==========  metriqs ========*/
h5>span.badge.badge-light {
    background-color: #545555;   
}
.timelinecontener .li.complete .status b {
    color: #777e7e;
    
}
/*==========  chart ========*/
.reportrange {
    color: #0E0E0E;
    background: #D7DCDC;
}
.daterangepicker {
    color: #d7dcdc;
    background-color: #575757;
}
.daterangepicker .calendar-table {
    border: 1px solid #212121;
    background-color: #373737;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #212121;
    border-color: transparent;
    color: #d7dcdc;
}
.daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background-color: #575757;
}
.daterangepicker td.off {
    background-color: inherit;
}
.ranges li {
    background-color: #373737;
    color: #17a2b8;
    border: 1px solid #212121;
}
.ranges li:hover,
.ranges li.active {
    background-color: #272727;
    border: 1px solid #17a2b8;
    color: #d7dcdc;
}

.range_inputs button.applyBtn,
button.applyBtn:not(:disabled):not(.disabled):active {
    background-color: #17a2b8;
    border: 1px solid #272727;
    color: #0E0E0E;
}
.range_inputs button.applyBtn:hover {
    background-color: #138496;
}
.range_inputs button.cancelBtn {
    border: 1px solid #272727;
    color: #0E0E0E;
}
/*======== infrastructure ========*/
div.profile_right-table>div.x_panel {
    background-color: #272727;
    border: 1px solid #0E0E0E;
    box-shadow: inset 0px 0rem 0.8rem 1px rgba(0, 0, 0, 0.8);
}
div#tagsconteger.ui-sortable {
    padding: 0px;
}

div#tagsconteger.ui-sortable .draggable {
    background-color: #373737;
    color: #c7cccc;
    border-color: #0E0E0E;
}
div#tagsconteger.ui-sortable .draggable:hover {
    background-color: #373737;
    color: #c7cccc;
    border-color: #0E0E0E;
    box-shadow: 0 4px 12px -4px rgba(0,0,0,0.6), 0 8px 12px -4px rgba(0,0,0,0.5);
}
/*=========  Real-Time Monitor ==========*/
.all_filter h5.card-header,
.machine_filter h5.card-header, 
.manual_filter h5.card-header {
    background-color: #373737!important;
}
fieldset #filters .filter .defined_filter, fieldset #notifiers .defined_notifier {
    border: 1px solid #0E0E0E;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.4);
    transition: all 0.2s cubic-bezier(.24,.43,.6,.43);
}
#query_form_content fieldset td.value span {
    background-color: #212121;
}
#options .value span.select2-selection.select2-selection--multiple,
#filters .value span.select2-selection.select2-selection--multiple {
    border: 1px solid #0e0e0e;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #272727!important;
    border: 1px solid #474747!important;
}
#query_form_content fieldset input.filter-value, #query_form_content fieldset input.notifier-value {
    background-color: #212121!important;
    border: 1px solid #0E0E0E!important;
    color: #D7DCDC;
}
.select2-dropdown {
    border: 1px solid #0e0e0e!important;
}
span.select2-results ul.select2-results__options,
span.select2-results ul#select2-allfilter-results,
span.select2-results ul#select2-mlfilter-results,
span.select2-results ul#select2-manualfilter-results {
    background-color: #474747!important;
}
.select2-container--default span.select2-results .select2-results__option[aria-disabled=true] {
    background-color: #373737!important;
    color: #6c757d!important;
}
fieldset #options table.options th.name {
    border: 1px solid #0e0e0e;
    background-color: #272727;
}
fieldset #options table.options {
    background-color: #373737;
    border: 1px solid #0e0e0e;
}
input#saveas_name {
    background-color: #212121!important;
    color: #D7DCDC!important;
    border: 1px solid #17a2b8!important;
}
.profile_right-table.depthShadowLight {
    background-color: #777c7c;
    color: #0e0e0e;
    border: 1px solid #0e0e0e;
    box-shadow: inset 0px 0rem 0.8rem 1px rgba(0, 0, 0, 0.8);
}

/* ====  Detailing Analytics ====*/ 
form.form-row>.form-group.detailedFilter {
    background-color: #373737;
    color: #c7cccc;
    border-color: #0E0E0E;
}
form.form-row>.form-group.detailedFilter:hover {
    background-color: #373737;
    color: #c7cccc;
    border-color: #0E0E0E;
    box-shadow: 0 4px 12px -4px rgba(0,0,0,0.6), 0 8px 12px -4px rgba(0,0,0,0.5);
}
.form-group.detailedFilter .custom-select  {
    background-color: #272727!important;
    border-color: #0e0e0e!important;
}
.profile_left.depthShadowLight {
    background-color: #777c7c;
    color: #c7cccc;
    border: 1px solid #0e0e0e;
    box-shadow: inset 0px 0rem 0.8rem 1px rgba(0, 0, 0, 0.8);
}