/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Lato|Roboto";
body {    
    font-family: sans-serif,'Roboto','Lato';    
    background: #f0f0f0;
    font-size: 14px;
}
p {
/*    font-family: 'Lato','Roboto', sans-serif;*/
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar {
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 20px 0;
}

i,
span {
    display: inline-block;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,
.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,
.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,
.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,
.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto {
    padding-right: 10px;
    padding-left: 10px;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
}
#sidebar {
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #c7cccc;
    color: #000;    
    z-index: 999;
    transition: all 0.3s;
}
#sidebar ul li a {
    text-align: left;
}
#sidebar .sidebar-header {
    background: #c7cccc;
}
#sidebar div#sidebar-menu {
    padding: 0.5rem;
}
/*#sidebar ul#sidebarSmallMenu {
    padding: 0.5rem;
}*/
#sidebar div#sidebar-menu ul.child_menu li:hover {
    border-radius: 4px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
}
#sidebar #sidebarMenu a {
    padding: 10px;
    font-size: 1rem;
    display: block;
}

#sidebar #sidebarSmallMenu a {
    display: block;
}

#sidebar ul li a:hover,
div#sidebar-menu .card-header a:hover {
    border-radius: 4px;
    color: #000;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
}

#sidebar ul li a i {
    margin-right: 4px;
}

/*#sidebar div#sidebar-menu ul.collapse {
    padding: 0.5rem;
}*/
#sidebar div#sidebar-menu ul.collapse.show {
/*    display: block;
    max-height: 234px;
    left: 100%;
    position: relative;
    top: 0px;
    width: 210px;
    z-index: 4000;
    background: #343a40;
    color: #fff;*/
}

a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/*ul ul a {
    font-size: 0.9rem !important;
    padding-left: 30px !important;
}*/
ul ul a {
    font-size: 0.9rem !important;
    padding-left: 10px !important;
}

ul.CTAs {
    display: flex;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 4px;
}

a.articleDefault, a.downloadDefault {
    color: #868e96;
    background-color: transparent;
    border: 1px solid transparent;
    background-image: none;
    border-color: #868e96;
}
a.articleDefault:hover, a.downloadDefault:hover {
    background-color: #212529;
    border-color: #212529;
    color: #fff;
}
a.article, a.download {
    background: #fff;
    color: #000;
    box-shadow:  0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.3);
}
a.article:hover, a.download:hover {    
    background: #343a40;
    color: #fff;        
    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,.3);
}
.current-page {
    border-radius: 4px;
    box-shadow: inset 0px 0rem 0.5rem rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
}
#sidebarMenu.accordion>.card {
    background-color: #c7cccc;
}
#sidebarMenu.accordion>.card .card-header {
    padding: 0.3rem;
}
#sidebarMenu.accordion>.card .card-body {
    padding: 0.5rem;
}
/*#sidebarMenu.accordion>.card .card-body:hover {
    box-shadow: inset 0px 0rem 0.4rem rgba(0, 0, 0, 0.5);
}*/
#sidebarMenu.accordion>.card .card-body>ul>li {
    margin-bottom: 4px; 
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 220px);
    min-height: 100vh;  
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.3s;
}
#content.active {
    width: calc(100% - 100px);
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #content {
        width: 100%;
    }
    .sidebar-footer {
        display: none !important;
    }
    #sidebar {
        display: none !important;
    }
    #sidebar.active {
        display: block !important;
        position: fixed;
        min-width: 100px;
        max-width: 100px;
        text-align: center;
        margin-left: 0 !important;
    }
 #sidebar .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
/*    #sidebar {
        margin-left: 0;
    }*/
    #menu_toggle span {
        display: none;
    }
}
@media (min-width: 992px)
.tile_count .tile_stats_count {
    margin-bottom: 10px;
    border-bottom: 0;
    padding-bottom: 10px;
}    
/* ---------------------------------------------------
   UNDERWAY
----------------------------------------------------- */

.right_col{
    padding: 10px; 
}
.pagetitle {
    margin-bottom: 0.2rem;
    margin-left: 4px;
}
.sidebar-footer {
    position: fixed;
    bottom: 0px;
    clear: both;
    display: block;
    padding: 5px 0 0 0;    
    width: 220px;
    background: #343a40;
}
.sidebar-footer a {
    padding: 7px 0 3px;
    text-align: center;
    width: 25%;
    font-size: 17px;
    display: block;
    float: left;
    background: #c7cccc;
}
.sidebar-footer a:hover {    
    background: #343a40;
    color: #fff;
}
.site_title {
    font-size: 22px;
    padding: 10px;
}
#nav-customTab.customTab .nav-link.active {
    border-bottom: none;
/* box-shadow: inset 0 0.5rem 1rem rgba(0,0,0,.2); */
    box-shadow: inset 0 0.2rem 1rem rgba(0,0,0,.2), 0 18px 12px -4px #fbfbfb;    
}
#nav-customTab.customTab {
    box-shadow: 0 0.5rem .8rem -0.2rem rgba(0,0,0,.2);
}

.depthShadowLight:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0rem 0.5rem rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 0rem 0.5rem rgba(0, 0, 0, 0.4);
    transition: all 0.3s cubic-bezier(.24,.43,.6,.43);
}
.depthShadowDark:hover {
    background-color: #c7cccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0rem 0.5rem rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 0rem 0.5rem rgba(0, 0, 0, 0.4);
    transition: all 0.3s cubic-bezier(.24,.43,.6,.43);
}

ul.gotodash {
    padding: 10px;
}

ul.gotodash li {
    position: relative;
    padding: 3px;
    list-style: none;
}
a.gotodash {
    display: block;
    margin: 2px;
    padding: 8px;    
    background: #c7cccc;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.24,.43,.6,.43);
}
a.gotodash:hover {
    box-shadow: 0 8px 18px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.24);
}

#navbarNavDropdown ul.navbar-nav ul.dropdown-menu-right{
    padding: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
}
#navbarNavDropdown ul.navbar-nav ul.dropdown-menu-right .dropdown-item:hover{
    border-radius: 4px;
    color: #fff;
    background: #343a40;
    box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,.3);
}


/* ---------------
  Sidebar active
------------------ */
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #343a40;
}
#sidebar.active ul#sidebarMenu {
    display: none;
}
#sidebar:not(.active) ul#sidebarSmallMenu {
    display: none;
}
#sidebar.active .sidebar-footer {
    display: none;
}
#sidebar.active {
    width: 100px;
    text-align: center;
}
#sidebar.active .sidebar-header span {
    display: none;
}
#sidebar.active ul li a {
    padding: 10px 0 20px;
    text-align: center;
    font-size: 0.8rem;
    border: none;
}
#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 50px;
    right: 20%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
#sidebar.active #menuDash.dropdown-toggle::after {
    top: 20px;
    bottom: auto;
    right: 20%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
/*---- dropdown dropright ----*/

.btn-outline-dark:focus, .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-dark.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-outline-primary:hover {
    box-shadow: 0 8px 18px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.24);
}
.btn-outline-secondary:hover {
    box-shadow: 0 8px 18px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.24);
}
.btn-outline-success:hover {
    box-shadow: 0 8px 18px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.24);
}
.btn-outline-info:hover {
    box-shadow: 0 8px 18px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.24);
}
.btn-outline-warning:hover {
    box-shadow: 0 8px 18px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.24);
}
.btn-outline-danger:hover {
    box-shadow: 0 8px 18px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.24);
}
.btn-outline-dark:hover {
    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,.3);
}
.btn-outline-dark {
    color: #000;
}

ul#sidebarSmallMenu .dropright.show .dropdown-menu.show {
    min-width: inherit;
/*    width: 160px;*/
    padding: 0.2rem 0.5rem 0.8rem;
    background-color: #343a40;
    border: none;
}
#sidebar.active ul#sidebarSmallMenu .dropright.show .dropdown-menu.show>a {
    color: #fff;
    padding: 10px 4px 10px;
    text-align: left;
    font-size: 0.8rem;
}
#sidebar.active ul#sidebarSmallMenu .dropright.show .dropdown-menu.show>a:hover {
    color: #000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
}
#sidebar.active ul#sidebarSmallMenu .dropright.show .dropdown-menu.show>a>i {
    font-size: 12px !important; 
    display: inline-block;
}

.card-header {
    background-color: #c7cccc;
    padding: 0.5rem;
}

.tile_count .tile_stats_count {
    margin: 10px;
    padding: 2px 10px 2px 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-color: #fff;
    border: 1px solid #aeb3b3;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.24,.43,.6,.43);
}
.tile_count .tile_stats_count:hover {
   box-shadow: 0 4px 12px -2px rgba(0,0,0,0.25), 0 8px 12px -2px rgba(0,0,0,0.22);
}
.count{
    font-size: 40px;
    line-height: 47px;
    font-weight: 600;
    color: #777e7e;
}

.count_bottom>div{
     color:green;
}

.od {
    font-size: small;
}
.od label {
    width: 30px; 
}
.od input {
    width: 150px;
    border: #d6dce0 solid 1px;
    background-color: transparent;
}



.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(199, 204, 204, 0.2);
}
.table-striped tbody tr {
    background-color: rgba(199, 204, 204, 0.4);
}
.table-striped tr {
    background-color: rgba(199, 204, 204, 0.4);
}
.table-striped.table td {
    vertical-align: middle; 
    border-top: none; 
}

@media (min-width: 992px) { 
    .edit {
        height: 75vh;
    }
}
.minHeight180 {
    min-height: 180px;
}
.h-180px {
    height: 180px;
}
.h-200px {
    height: 200px;
}
.h-220px {
    height: 220px;
}
/*
.row-flex, .row-flex > div[class*='col-'] { 
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 flex:1 1 auto;
}

.row-flex-wrap {
 -webkit-flex-flow: row wrap;
 align-content: flex-start;
 flex:0;
}

.row-flex > div[class*='col-'] {
     margin:-.2px; 
}
.row-flex, .row-flex > div[class*='col-'] > .card > .card-body { 
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 flex:1 1 auto;
}*/
/*-------------infrastructure-----------------*/
div.profile_right-table>div.x_panel {
    background-image: radial-gradient(#f7ffff, #d7dddd, #c7cccc);
    box-shadow: none;
    margin-bottom: 0;
    padding: 0; 
}
.x_panel {    
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #aeb3b3;
    border-radius: 6px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}
/*.form-control {
    border: 1px solid #929292;
}*/
/*div#tagsconteger.ui-sortable .draggable {
    background: #c7cccc;
    padding: 4px; 
    border-width: 1px;
    border-style: solid;
    border-color: #929292;
    border-radius: 4px;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    transition: .4s ease-out;
}
div#tagsconteger.ui-sortable:hover .draggable:not(:hover) {
    box-shadow: inset 3px 2px 4px -2px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-out;
}
div#tagsconteger.ui-sortable .draggable:hover {
    box-shadow: 0 4px 12px -4px rgba(0,0,0,0.4), 0 8px 12px -4px rgba(0,0,0,0.3);   
}*/
div#tagsconteger.ui-sortable {
    padding: 10px;
}
/*div#tagsconteger.ui-sortable:hover {
    border-radius: 4px;
    box-shadow: inset 0 0 1rem rgba(0,0,0,0.3);
}*/
div#tagsconteger.ui-sortable .draggable {
/*    background: transparent;*/
    background-color: #c7cccc;
    color: #343a40;
    padding: 4px; 
    border-width: 1px;
    border-style: solid;
    border-color: #ced4da;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    transition: .4s ease-out;
}
/*div#tagsconteger.ui-sortable:hover .draggable:not(:hover) {
    border-radius: 4px;
    box-shadow: inset 0 0.1rem 1rem rgba(0, 0, 0, 0.22);
    box-shadow: inset 0 0 1rem rgba(0,0,0,0.3);
    transition: 0.4s ease-out;
}*/
div#tagsconteger.ui-sortable .draggable:hover {
    background-color: #343a40;
    color: #ffffff;
    border-color: #343a40;
    box-shadow: 0 4px 12px -4px rgba(0,0,0,0.4), 0 8px 12px -4px rgba(0,0,0,0.3);   
}
div#tagsconteger.ui-sortable .draggable>label{
    margin-bottom: 2px;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.profile_left {
    padding-left: 20px;
    padding-right: 20px;
}
.scrollTagsContant {
    overflow-y: auto;
    height: 540px;
}

/*---- Switches ----*/
/*.switch {
  font-size: 1rem;
  position: relative;
}
.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}
.switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * .8) * 2);
  border-radius: calc(2.375rem * .8);
  height: calc(2.375rem * .8);
  line-height: calc(2.375rem * .8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}
.switch input + label::before,
.switch input + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375rem * .8) * 2);
  bottom: 0;
  display: block;
}
.switch input + label::before {
  right: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * .8);
  transition: 0.2s all;
}
.switch input + label::after {
  top: 2px;
  left: 2px;
  width: calc(calc(2.375rem * .8) - calc(2px * 2));
  height: calc(calc(2.375rem * .8) - calc(2px * 2));
  border-radius: 50%;
  background-color: white;
  transition: 0.2s all;
}
.switch input:checked + label::before {
  background-color: #08d;
}
.switch input:checked + label::after {
  margin-left: calc(2.375rem * .8);
}
.switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}
.switch input:disabled + label::before {
  background-color: #e9ecef;
}
.switch.switch-sm {
  font-size: 0.875rem;
}
.switch.switch-sm input + label {
  min-width: calc(calc(1.9375rem * .8) * 2);
  height: calc(1.9375rem * .8);
  line-height: calc(1.9375rem * .8);
  text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}
.switch.switch-sm input + label::before {
  width: calc(calc(1.9375rem * .8) * 2);
}
.switch.switch-sm input + label::after {
  width: calc(calc(1.9375rem * .8) - calc(2px * 2));
  height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
  margin-left: calc(1.9375rem * .8);
}
.switch.switch-lg {
  font-size: 1.25rem;
}
.switch.switch-lg input + label {
  min-width: calc(calc(3rem * .8) * 2);
  height: calc(3rem * .8);
  line-height: calc(3rem * .8);
  text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}
.switch.switch-lg input + label::before {
  width: calc(calc(3rem * .8) * 2);
}
.switch.switch-lg input + label::after {
  width: calc(calc(3rem * .8) - calc(2px * 2));
  height: calc(calc(3rem * .8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
  margin-left: calc(3rem * .8);
}
.switch + .switch {
  margin-left: 1rem;
}*/
/*---- /Switches ----*/

/*---- Monitoring real-time ----*/

#filters {
    display: none;
}
#options {
    display: none;
}
#notifiers {
    display: none;
}

.form-group-inline {
    display: flex;
    align-items: center;
}

/*table.table.filters-table>tr>td input {
    padding: 3px 0;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #aaaaaa;
    height: 30px;
}

.rtMonitor {
   box-shadow: inset 0 0.3rem 1rem rgba(0,0,0,.15);
   background-color: #f0f0f0;
}
.monitorlist li ul#regularlist {
    border: none; 
    padding: 6px 0;
}*/
.monitorlist li {
    list-style: none;
}
.monitorlist li ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
}
.monitorlist li ul li {
    flex: 1;
    list-style: none;
    padding: 8px;
    border: solid 1px #d5d5d5;
    border-radius: 5px;
    margin: 3px;
    word-wrap: break-word;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}
.monitorlist li ul li .icons {
    text-align: right;
    margin: -3px -3px 0;
    font-size: 16px;
}
.monitorlist li ul li .level {
    font-size: 13px;
    margin-bottom: 2px;
}
.monitorlist li ul li .inline {
    display: inline-block;
    margin: 0 5px 0 0;
}
.monitorlist li ul li .metricname {
    border: 1px solid #d5d5d5;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: #e4e4e4;
    clear: both;
}
/*---- select2 ----*/
span.selection {
    width: inherit;
}
/*---- Monitoring Detailed ----*/  
.accordion .panel {
    margin-bottom: 5px;
    border-style: none;
    border-radius: 0;
    border-bottom: 1px solid #efefef;
}
.accordion .panel .panel-heading {
    background: #c7cccc;
    border-width: 1px;
    border-style: solid;
    border-color: #aeb3b3;
}
.accordion .panel-heading {
    padding: 13px;
    width: 100%;
    display: block;
}
.progress {
    margin-top: 2px;
    box-shadow: inset -1px 1px 8px rgba(23, 162, 184, 0.5);
}